<html>
<head>
<title>Your Scratchpad Secret</title>
</head>
<body>
<h2>Your Scratchpad Secret</h2>
<p>YOU MAY ONLY RETRIVE THIS SECRET ONCE! Be sure to copy this secret somewhere safe before reloading, browsing away, or closing your browser window.</p>
<blockquote>
<%= secret %>
</blockquote>
</body>
</html>
