.idea
.DS_Store
.*.swp
doc
.yardoc
kittens.rb
Mu_CA.pem
install/headlesscheatsheet
bin/consul
bin/vault
.vscode
Berksfile.lock
cloud-mu-*.gem
.kitchen/.kitchen.local.yml
.kitchen/
coverage
spec/mu.yaml
spec/azure_creds
