#!/usr/bin/expect

set pw '{{ elasticpw }}'

spawn /usr/share/elasticsearch/bin/elasticsearch-setup-passwords interactive
expect "y/N" {send "y\r"}
expect "Enter password for \\\[elastic\\\]" {send "$pw\r"}
expect "Reenter password for \\\[elastic\\\]" {send "$pw\r"}
expect "Enter password for \\\[apm_system\\\]" {send "$pw\r"}
expect "Reenter password for \\\[apm_system\\\]" {send "$pw\r"}
expect "Enter password for \\\[kibana_system\\\]" {send "$pw\r"}
expect "Reenter password for \\\[kibana_system\\\]" {send "$pw\r"}
expect "Enter password for \\\[logstash_system\\\]" {send "$pw\r"}
expect "Reenter password for \\\[logstash_system\\\]" {send "$pw\r"}
expect "Enter password for \\\[beats_system\\\]" {send "$pw\r"}
expect "Reenter password for \\\[beats_system\\\]" {send "$pw\r"}
expect "Enter password for \\\[remote_monitoring_user\\\]" {send "$pw\r"}
expect "Reenter password for \\\[remote_monitoring_user\\\]" {send "$pw\r"}

