apm-server:
  host: "0.0.0.0:8200"
  concurrent_requests: 5
  rum:
    enabled: true
  kibana:
    enabled: true
    username: "elastic"
    password: "{{ elasticpw }}"

output.elasticsearch:
  hosts: [
{%- for node,meta in mu_deployment['servers']['backend'].items() %}
  {%- for k,v in meta.items() %}
    {%- if k in ["private_ip_address"] %}
"https://{{ v }}:9200"
    {%- endif %}
  {%- endfor %}
  {%- if not loop.last %},{%- endif %}
{%- endfor %}]
  username: "elastic"
  password: "{{ elasticpw }}"
  protocol: "https"
  worker: 2
  ssl:
    enabled: true
    verification_mode: none
    certificate_authorities: ["/etc/apm-server/elasticsearch-ca.pem"]
    supported_protocols: ["TLSv1.2"]

#queue.mem.events: 4096

max_procs: 4
